<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">

  <mat-toolbar class="nav-bar ">
    <mat-toolbar-row >
      <span class="nav-items"  routerLink="">Login</span>
      <span class="nav-items"><a routerLink="calibration">Calibration</a></span>
      <span class="nav-items">Drive details</span>
      <span class="nav-items">Table</span>

    </mat-toolbar-row>
 </mat-toolbar>

</div> -->

<!-- <app-even></app-even> -->
<!-- <app-header ></app-header> -->
<router-outlet></router-outlet>


<!--  ngIf directive
if logged in then direct go to calibration and  drive and table  -->
<!-- remove toolbar -->
<!-- show toolbar after logged in -->
<!-- if not empty then not show -->
