
<div class="signup-container  flex flex-col justify-center items-center ">
  <p class="font-sans font-bold text-4xl  text-indigo-500 mb-5">Signup</p>
  <div class="signup-form  border-2 border-sky-600 p-14 rounded-lg  w-4/12" >
    <form>
      <label for="" class="font-sans text-xl text-indigo-400 my-5">Full Name</label><br>
    <input type="text" class="p-4 border-2 border-sky-200 rounded-3xl my-2 outline-0 w-full "><br>
    <label for="" class="font-sans text-xl text-indigo-400 my-5">Email</label><br>
    <input type="email" class="p-4 border-2 border-sky-200 rounded-3xl my-2 outline-0 w-full "><br>
    <label for="" class="font-sans text-xl text-indigo-400 my-5">Password</label><br>
      <input type="password" name="" id=""class="p-4 border-2 border-sky-200 rounded-3xl my-2 outline-0 w-full "><br>
    </form>
     <button  class="bg-blue-700 text-white text-2xl font-sans border-2 px-10 py-4 rounded-3xl mt-5 w-full">Signup</button>
  </div>
    <p class="font-sans text-lg">  Already user ? <span><a routerLink="" class="underline text-indigo-600"> Login here</a></span></p>
</div>


