
<mat-form-field class="example-full-width p-2">
  <mat-label>Name</mat-label>
  <input matInput formControlName="name" >
</mat-form-field><br>
<mat-form-field class="example-full-width p-2">
  <mat-label>Weight</mat-label>
  <input matInput formControlName="weight" >
</mat-form-field><br>
<mat-form-field class="example-full-width p-2">
  <mat-label> Symbol</mat-label>
  <input matInput formControlName="symbol" >
</mat-form-field><br>

<button mat-raised-button color="primary">Save data</button>
